.game-card {
    position: relative;
    cursor: pointer;
 
    perspective: 150rem;
    -moz-perspective: 150rem;
}

.game-card img {
    display: block;
    width: 100%;
    
    border: 2px solid rgb(156, 156, 156);
    border-radius: .6rem;

    transition: all .8s ease;
    backface-visibility: hidden;
}

.game-card img:hover {
    border: 2px solid #fff;
}

.game-card img.game-card-matched {
    border: 2px solid rgb(94, 228, 94);
}

.game-card .game-card--front {
    position: absolute;
    transform: scale(1.2) rotateY(180deg);
}

.game-card .game-card--back {
    position: absolute;
    transform: rotateY(0deg);
}

.game-card-flip .game-card--front {
    transform: rotateY(0deg);
}

.game-card-flip .game-card--back {
    transform: rotateY(-180deg);
}