.game-grid__card {
    position: relative;
    cursor: pointer;

    perspective: 150rem;
    -moz-perspective: 150rem;
}

.game-grid__card img {
    display: block;
    width: 100%;
    
    border: 2px solid rgb(156, 156, 156);
    border-radius: .6rem;

    transition: all .8s ease;
    backface-visibility: hidden;
}

.game-grid__card img:hover {
    border: 2px solid #fff;
}

.game-grid__card img.game-grid__card-matched {
    border: 2px solid rgb(94, 228, 94);
}

.game-grid__card .game-grid__card--front {
    position: absolute;
    transform: scale(1.2) rotateY(180deg);
}

.game-grid__card .game-grid__card--back {
    position: absolute;
    transform: rotateY(0deg);
}

.game-grid__card-flip .game-grid__card--front {
    transform: rotateY(0deg);
}

.game-grid__card-flip .game-grid__card--back {
    transform: rotateY(-180deg);
}