.game-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 2rem;

    justify-items: center;
    
    height: 100vh;
    margin: 4rem;
}

@media only screen and (max-width: 37.5em) {
    .game-grid {
        grid-template-rows: repeat(3, 12rem);
        margin: 2rem;
    }
}