@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Variables */
:root {
  --color-primary-light: #46496d;
  --color-primary-dark: #2B2D42;
  --color-secondary-light: #5465FF;
  --color-secondary-dark: #404dc2;
  --color-tertiary-light: #ededed;
}


/* Base Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-primary-dark);

  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;
}

::selection {
  background-color: var(--color-secondary);
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 56.25%;
  }
}