@import url('https://fonts.googleapis.com/css2?family=Raleway:wgth@100;200;300;400;500;600;700;800&display=swap');

/* Base Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #1b1523;

  font-family: Raleway, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #fff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
